
/* this file contains the layout rules (size, margin, styles) 
   Colors are defined in color_web & color_print */

/* -----------------------------------------------------------------------------
   Rules on elements
------------------------------------------------------------------------------*/

/* -- buttons -- */
.btn {
  
  margin-bottom: 10px;
  border-radius: 25px;
  
}


/* -- icons -- */
.icon {
  
  font-size: 36px;
  
}



/* -----------------------------------------------------------------------------
   Custom classes
------------------------------------------------------------------------------*/

/* -- subtitle -- */
.subtitle {
  
  font-style: italic; 
  
}


/* -- to create tags -- */
.tag {
  
  border-radius: 25px;
  width: fit-content;
  display: inline-block;
  
}


/* -- footer -- */
.footer {
  
  font-size:9pt;
  margin-top:20px;  
  
}

/* -----------------------------------------------------------------------------
   Custom classes (padding)
------------------------------------------------------------------------------*/

/* -- to add space between topics -- */
.section {
  
  margin-top: 7vh;
  margin-bottom: 5vh;
  
}


/* -- to tune modal window & content -- */
.modal-dialog {
  
  max-width: 90vw;
  margin: 10vh auto 10vh auto;
  
}

.modal-content {
  
  padding: 5vw;
  
}



/* -----------------------------------------------------------------------------
   Custom classes (iframe)
   This is to make the blog post fit in the app
------------------------------------------------------------------------------*/

iframe {
  
  width: 100%; /* takes precedence over the width set with the HTML width attribute */
  height: 75vh;
  
}

