

/* -----------------------------------------------------------------------------
   Variables
------------------------------------------------------------------------------*/

:root {
  
  /* -- colors -- */
  --tkf-color-dark: #2d3037;
  --tkf-color-light: #ececec;
  --tkf-color-accent: #c09f7f;
  
}


/* -----------------------------------------------------------------------------
   Backgrounds
------------------------------------------------------------------------------*/

.tkf-bg-dark {
  background-color: var(--tkf-color-dark);
}

 
.tkf-bg-accent {
  background-color: var(--tkf-color-accent);
}


.tkf-bg-camel {
  background: #c09f7f;
  background: linear-gradient(
    to bottom right,
    #c09f7f,#ba9677,#986e56
  );
}


/* -----------------------------------------------------------------------------
   Colors
------------------------------------------------------------------------------*/

.color-dark {
  color: var(--tkf-color-dark);
}


.color-light {
  color: var(--tkf-color-light);
}


.color-accent {
  color: var(--tkf-color-accent);
}
