

p {
  
  color: #d9cec2;
  
}

li {
  
  color: #d9cec2;
  
}


/* To select h2 elements that are directly before ul element */
p:has(+ul) {
  
  color: var(--bs-secondary);
  
}


.bg-contrast {
  
  background-color: #726d67;
  
}

/* -- section -- */
.section {
  
  margin-top: 7vh;
  margin-bottom: 5vh;
  
}


/* -- buttons -- */
.btn {
  
  max-width: 150px;
  border-radius: 25px;
  
}


/* -- modal dialog -- */
.modal-dialog {
  
  max-width: 90vw;
  margin: 10vh auto 10vh auto;
  
}

.modal-content {
  
  padding: 5vw;
  
}


/* -- tags -- */
.tag {
  
  border-radius: 25px;
  background-color: #bf906c;
  width: fit-content;
  display: inline-block;
  
}
