

/* -- section -- */
.section {
  
  margin-top: 7vh;
  margin-bottom: 5vh;
  
}


/* -- buttons -- */
.btn {
  
  max-width: 150px;
  border-radius: 25px;
  
}


/* -- modal dialog -- */
.modal-dialog {
  
  max-width: 90vw;
  margin: 10vh auto 10vh auto;
  
}

.modal-content {
  
  padding: 5vw;
  
}


/* -- tags -- */
.tag {
  
  border-radius: 25px;
  background-color: var(--bs-primary);
  width: fit-content;
  display: inline-block;
  
}
