

/* -----------------------------------------------------------------------------
   Variables
------------------------------------------------------------------------------*/

:root {
  
  /* -- colors -- */
  --tkf-color-light: #d9cec2;
  --tkf-color-contrast: #726d67;
  --tkf-color-accent: #bf906c;
  --tkf-color-tag: #2d3037;
  --tkf-color-icon: #726d67;
  
}



/* -----------------------------------------------------------------------------
   Rules on elements
------------------------------------------------------------------------------*/

/* -- specific color on p -- */
p {
  
  color: var(--tkf-color-light);
  
}


/* -- specific color on li -- */
li {
  
  color: var(--tkf-color-light);
  
}


/* -- To select h2 elements that are directly before ul element -- */
p:has(+ul) {
  
  color: var(--bs-secondary);
  
}


/* -- buttons -- */
.btn {
  
  border-radius: 25px;
  
}


/* -----------------------------------------------------------------------------
   Custom classes
------------------------------------------------------------------------------*/

/* -- profile title -- */
.subtitle {
  
  font-style: italic; 
  margin-bottom: 5vh;
  
}

/* -- mostly to apply on cards */
.bg-contrast {
  
  background-color: var(--tkf-color-contrast);
  
}

/* -- to add space between topics -- */
.section {
  
  margin-top: 7vh;
  margin-bottom: 5vh;
  
}


/* -- to tune modal window & content -- */
.modal-dialog {
  
  max-width: 90vw;
  margin: 10vh auto 10vh auto;
  
}

.modal-content {
  
  padding: 5vw;
  
}


/* -- to create tags -- */
.tag {
  
  border-radius: 25px;
  background-color: var(--tkf-color-accent);
  color: var(--tkf-color-tag);
  width: fit-content;
  display: inline-block;
  
}


/* -- icons -- */
.icon {
  
  font-size: 36px;
  color: var(--tkf-color-icon);
  
}


/* -- footer -- */
.footer {
  
  font-size:9pt;
  margin-top:20px;  
  
}
