

body {
  
  --primary-color: #ffeaa8;
}


.header {
  
  font-size:36pt;
  font-weight: bold;
  
}


.footer {
  
  font-size:8pt;
  
  margin-left: 20px;
  margin-bottom: 20px;
  
}


.portfolio {
  
  width: 60%;
  
  margin-top: 50px;
  padding: 20px;
  
  align-self: center;
  
  background: rgb(19,19,19);
  background: linear-gradient(45deg, rgba(19,19,19,1) 0%, rgba(36,36,36,1) 50%, rgba(41,41,41,1) 100%); 
  
  border-radius: 10px;
  border: solid 3px #ffeaa8;
  
}

.portfolio h2 {
  
  margin-bottom: -1.5rem;
  
}

.portfolio img {
  
  border-radius: 5px;
  
}
